body,html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif; 
    font-weight: 300;
 }
body {
    height: 100vh;
    width: 100vw;
}
* {
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background: rgb(144,86,224);
    background: linear-gradient(135deg, rgba(144,86,224,1) 0%, rgba(200,118,160,1) 50%, rgba(242,143,120,1) 100%);
}
.grid {
    margin: 0 auto;
    width: 370px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "display display display display" "percent toggle-sign C divide" "seven eight nine X" "four five six minus" "one two three plus" "null coma calculate calculate";
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
    
  }
  
  .grid__element{
    position: relative;
    transition: all 0.4s ease 0s;
  }
  .grid__element:hover:not(.display){
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    z-index: 2;
  } 
  .grid__element:active:not(.display), .grid__element:focus:not(.display){
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
   }
  .grid__element.divide{
      background-color: #9156e1;
  }
  .grid__element.X{
      background-color: #8d52dd;
      
  }
  .grid__element.minus{
    background-color: #894ed9;
}
.grid__element.plus{
    background-color: #8547d9;
}
.grid__element.calculate{
    background-color: #e62f89;
}
.center-me, .grid__element>span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
 
.display {
    grid-area: display;
    background-color: #212121;
    color: #ffffff;
    text-align: right;
    padding-right: 30px;
    height: 140px;

 }
 .history {
     color:#cd7b8a;
     margin-top: 37px;
     font-size: 18px;
     font-weight: 400;
     margin-bottom: 0;
 }
 .current{
   font-size: 46px;
   margin-top: 5px;
   margin-bottom: 32px;
 }
  
  .percent { 
    grid-area: percent;
    background-image: linear-gradient(to bottom right,#f7f7f7,#f1f1f1);
  }

.toggle-sign {
  grid-area: toggle-sign;
  background-image: linear-gradient(to bottom right,#f7f7f7,#f1f1f1);
}

.C { 
  grid-area: C;
  background-image: linear-gradient(to bottom right,#f7f7f7,#f0f0f0);
}

.divide { 
  grid-area: divide;
  color: #ffffff;    
}

.seven { 
  grid-area: seven;
  background-image: linear-gradient(to bottom right,#ffffff,#f4f4f4);
}

.eight { 
  grid-area: eight;
  background-image: linear-gradient(to bottom right,#ffffff,#f4f4f4);
}

.nine { 
  grid-area: nine;
  background-image: linear-gradient(to bottom right,#ffffff,#f4f4f4);
}

.X { 
  grid-area: X;
  color: #ffffff;
  
}
  
.four { 
  grid-area: four;
  background-image: linear-gradient(to bottom right,#ffffff,#f5f5f5);
}

.five { 
  grid-area: five;
  background-image: linear-gradient(to bottom right,#ffffff,#f4f4f4);
}

.six { 
  grid-area: six;
  background-image: linear-gradient(to bottom right,#ffffff,#f4f4f4);
}

.minus {
  grid-area: minus;
  color: #ffffff;
}

.one { 
  grid-area: one;
  background-image: linear-gradient(to bottom right,#ffffff,#f4f4f4);
}

.two { 
  grid-area: two;
  background-image: linear-gradient(to bottom right,#ffffff,#f4f4f4);
}

.three { 
  grid-area: three;
  background-image: linear-gradient(to bottom right,#ffffff,#f4f3f2);
}

.plus {
  grid-area: plus;
  color: #ffffff;
}

.null { 
  grid-area: null;
  background-image: linear-gradient(to bottom right,#ffffff,#f4f4f4);
}

.coma { 
  grid-area: coma;
  background-image: linear-gradient(to bottom right,#ffffff,#f4f4f4);
}

.calculate {
  grid-area: calculate;
  color: #ffffff;
}